<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <!-- //Meta tag Keywords -->
    <title>Clack Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <!--/ Style-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <!--// Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
  <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <!-- //Fonts -->
</head>
<body>
    <div id="page" class="page">
        <!--//main-content-->
        <!---->
        <ol class="breadcrumb editContent">
            <li class="breadcrumb-item">
                <a href="/" class="editContent">Home</a>
            </li>
            <li class="breadcrumb-item active editContent">Single Page</li>
        </ol>
        {% block content %}
        {% endblock %}
        <!-- footer -->
        <footer class="editContent">
            <div class="container">
                <div class="row footer-top">
                    <div class="col-lg-4 footer-grid_section_w3layouts">
                        <h2 class="logo-2 mb-lg-4 mb-3">
                            <a href="/" class="editContent">
                                <span class="fa" aria-hidden="true" >
                                    Movie-Website
                                </span>
                            </a>
                        </h2>
                        <p class="editContent" >
                            Этот сайт предназначен для нахождения фильмов и сериалов,
                            которые существуют
                        </p>
                        
                    </div>
                    <div class="col-lg-8 footer-right">
                        <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                            <div class="col-md-4 footer-grid_section_w3layouts">
                                <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Разделы</h3>
                                <ul class="list-unstyled w3layouts-icons">
                                    <li>
                                        <a href="/" class="editContent" >Главная</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts">
                                <!-- social icons -->
                                <div class="agileinfo_social_icons">
                                    <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Страницы</h3>
                                    <ul class="list-unstyled w3layouts-icons">
                                        <li>
                                            <a href="#" class="editContent" >О сайте</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- social icons -->
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                                <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent" >Контактная информация</h3>
                                <div class="contact-info">
                                    <div class="footer-address-inf my-4">
                                        <h4 class="ad-info mb-2 editContent" >Email </h4>
                                        <p class="editContent" ><a href="mailto:ulad.linevich@outlook.com">ulad.linevich@outlook.com</a></p>
                                    </div>
                                    <div class="footer-address-inf">
                                        <h4 class="ad-info mb-2 editContent" >Местоположение</h4>
                                        <p class="editContent" >Минск</p>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- //footer -->
    </div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>  
    <script>toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }</script>
        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
      {% endif %}
</body>
</html>